<footer class="footer">
    <p>&copy; 2023 Taylor Oliveira. Teste técnico da Siteware.</p>
    <div class="container-icons">
        <a href="https://github.com/olirrvt">
            <i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i>
        </a>
        <a href="https://www.instagram.com/olirrvt">
            <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i>
        </a>
        <a href="https://www.linkedin.com/in/taylor-oliveira-458384234/">
            <i class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i>
        </a>
    </div>
</footer>