<section class="section-promocao">
  <div class="form-container">
    <h2>Cadastrar Nova Promoção</h2>
    <form [formGroup]="formCadastrar" (ngSubmit)="cadastrarPromocao()">
      <div class="form-group">
        <label for="nomeDaPromocao">Nome da Promoção:</label>
        <input
          type="text"
          id="nomeDaPromocao"
          formControlName="nomeDaPromocao"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <textarea
          id="descricao"
          formControlName="descricao"
          class="form-control"
        ></textarea>
      </div>
      <button
        type="submit"
        [disabled]="!formCadastrar.valid"
        class="btn btn-primary"
      >
        Cadastrar Promoção
      </button>
    </form>
  </div>

  <div class="modal" [ngClass]="{ 'show': showModal }">
    <div class="modal-content">
      <h3>Sucesso!</h3>
      <p>Sua promoção foi enviada ao nosso sistema. Iremos implementá-la em nosso sistema caso ela seja aprovada.</p>
      <button class="btn-modal" (click)="closeModal()">Fechar</button>
    </div>
  </div>

</section>
