/* Estilos para o form de produtos */

.cadastrar-produtos {
    width: 100%;
    margin: 90px auto;
}

.form-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-primary {
    color: #fff;
    margin: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .cadastrar {
    background-color: #36e613;
    transition: all 450ms ease-in-out;
  }

  .cadastrar:hover {
    background-color: #379c22;
    transition: all 450ms ease-in-out;
  }
  
  .visualizar {
    background-color: #e61313;
    transition: all 450ms ease-in-out;
  }

  .visualizar:hover {
    background-color: #9b1919;
    transition: all 450ms ease-in-out;
  }

  /* Estilos do dropdown */

  .promocoes-container {
    margin-top: 20px;
    padding: 20px;
    width: 40%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .list-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .btn-close {
    cursor: pointer;
  }

  .promocoes-container h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .promocoes-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .promocoes-container li {
    margin-bottom: 5px;
  }

  /* Estilo do modal de sucesso */

  .modal-success {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .show-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .btn-modal {
    background-color: #e2110a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    margin-top: 10px;
  }

  .btn-modal:hover {
    background-color: #aa1616;
    transition: all 450ms ease-in-out;
  }
  