<div class="cadastrar-produtos">
  <div class="form-container">
    <h2>Cadastrar Produtos</h2>
    <form>
      <div class="form-group">
        <label for="productName">Nome do Produto</label>
        <input type="text" id="productName" class="form-control" name="productName">
      </div>
      <div class="form-group">
        <label for="productDescription">Descrição do Produto</label>
        <textarea id="productDescription" class="form-control" name="productDescription"></textarea>
      </div>
      <div class="form-group">
        <label for="idDaPromocao">ID da Promoção:</label>
        <input type="number" id="idDaPromocao" formControlName="idDaPromocao" value="1" class="form-control">
      </div>
      <button type="submit" class="btn-primary cadastrar">Cadastrar</button>
      <button type="button" class="btn-primary visualizar" (click)="mostrarPromocoes()">Mostrar Promoções</button>
    </form>
  </div>

  <div class="promocoes-container" *ngIf="mostrarPromocoesBox">
    <div class="list-header">
      <h3>Promoções Disponíveis</h3>
      <i class="fa-solid fa-x btn-close" style="color: #000000;" (click)="fecharPromocoes()"></i>
    </div>
    <ul>
      <li *ngFor="let promocao of promocoes"> 
        ID da promoção: {{promocao.idDaPromocao}} | Nome: {{promocao.nomeDaPromocao}} <br>
        Descrição: {{promocao.descricao}}
      </li>
    </ul>
  </div>

</div>
